.graph-display-container-secondary {
    border: 2px solid black;
    position: absolute;
    bottom:0;
    right:0;
    margin-left: 100px;
    width: 450px;
    height: 400px; 
  }

  .test-container-tc {
    border: 2px solid black;
    margin-left: 200px;
    max-width: calc(100% - 200px);
    height: 100vh; 
    overflow-y: auto;
  }

  body {
    margin: 0;
  }
  
  .page {
    height: 100vh;
  }
  
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #3498db;
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
    border-radius: 4px;
  }
  
  .link { /*vertice*/
    stroke: black;
  }
  
  .node {
    fill: blue;
    stroke: black;
    width: 100px; 
    height: 60px; 
  }
  
  .react-flow__edge-path {
    stroke: black;
    stroke-width: 2px;
    fill: none; }
  
  .react-flow__node-default {
    background-color: #fff;
    border: 1px solid #222;
    padding: 10px;
    border-radius: 3px;
    font-size: 12px;
    width: 150px; 
    overflow: hidden; }
  
  .question-level-wrapper {
    margin-top: 50px;
    width: 60px;
    margin-left: 65px;
    width: 60px;
  }
  
  .sidebarKG {
    position: sticky;
    width: 200px;
    height: 100vh;
    background-color: #334134; 
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 100;
    padding-top: 20px;
    transition: margin-top 0.3s;
  }
  
  .rb {
    margin-top: 20px;
  }
  
  .finish-button {
    margin-top: 90px;
    color: black;
    background-color: rgb(196, 213, 69);
    width: 88px;
  }
  
  .finish-test-button {
    margin-top: 90px;
    color: black;
    background-color: rgb(27, 110, 0);
    width: 88px;
  }
  
  .back-button {
    color: white;
    background-color: red;
    width: 88px;
  }
  
  .zoom-buttons {
    position: absolute;
    margin-left: 205px;
    bottom: 20px; 
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .zoom-buttons button {
    width: 40px; 
    height: 40px;
    border: none;
    border-radius: 50%; 
    background-color: #3498db;
    color: black;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 10px; 
    display: flex;
    align-items: center;
    justify-content: center; 
  }
  
  .zoom-buttons button:hover {
    background-color: #2980b9;
  }

  .hfm-container {
    margin-top: -30px;
    margin-bottom: 65px;
  }
  
  .concept-select {
    margin-top: 20px;
    font-family: 'Arial', sans-serif;
    border-radius: 20px; 
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    font-size: 16px;
    color: #333;
    cursor: pointer;
  }
  
  .concept-select:focus {
    outline: none;
    border-color: #a9a9a9;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  }

  .question-container {
    position: relative;
  }
  
  .remove-question-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  /* Optional: Add some spacing between TestOption and Remove button */
  .remove-question-button + .test-option {
    margin-right: 1px; /* Adjust as needed */
  }