.table-container {
    margin-top: 100px;
    width: 1200px;
    overflow-x: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

.table-text{
    color: #333;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    margin-left: 85px;
    margin-bottom: 20px;
}

.e-kg-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 200px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  th, td {
    padding: 5px;
    border: 1px solid #ddd;
    text-align: left;
    font-size: 16px;
    line-height: 1.25;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .detail-button {
    width: 75px;
    margin-top: -2px;
    padding: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049;
  }
  